@import url('https://fonts.googleapis.com/css2?family=Chivo:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0; 
    min-height: 100vh; 
    font-family: "Chivo", sans-serif;
    display: flex; 
    flex-direction: column; 
}

main, nav {
    max-width: 800px;
    margin: 0 auto; 
    padding: 0 12px; 
} 

.navigation-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.name, .link {
    text-decoration: none; 
    color: gray;
    font-weight: 100;
}
.name, h1 {
    margin-right: auto; 
}

.link:active, .link:hover {
    color: black; 
    font-weight: 300;
}

.link {
margin: 0 4px;
}

.side-navbar {
    flex-direction: row; 
    display: flex;
    list-style-type: none;
}

.icon {
    padding: 2px; 
}

header, footer {
    padding: 24px 0; 
}

h1, h2, p {
    font-weight: 100;
}
.box {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}
  
footer {
    color: black; 
    font-weight: 100;
    text-align: center; 
    margin-top: auto;
}
